.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 65px;
    margin-top: 5vh;  
    font-weight: 600;  
}