@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    filter: blur(8px);
    will-change: transform;
    pointer-events: none;
}