@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    min-height: 100%;
    background: radial-gradient(#353E43, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}