.item-list{
    cursor: pointer;
    margin: 6px 0;
    font-size: 20px;
    border: #404659 solid 3px;
    border-radius: 6px;
    width: 95%;
    background-color: #d8dfb9;
    text-align: center;
    transition: 0.5s;
    padding: 5px;
    color: #000004;
}

.item-list:hover {    
    
    text-decoration: line-through;
    /* animation: hover-animation 2s infinite ease-in-out; */
    font-style: oblique;
    color: rgb(190, 1, 1);
    transform: perspective(20px) rotateX(1deg) rotateZ(-0.5deg);
    box-shadow: 4px 5px 3px #000004;
}

/* @keyframes hover-animation {
    0% {
        color:#000004;
    }
    50% {
        color: red;
        font-style:oblique;
    }
    100% {
        color: #000004;
    }
} */