.task-resposible-select {
    padding: 15px;
}

.responsible-text {
    font-size: 22px;
}

.select {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    border: solid #777 1px;
    background-color: lightgrey;
    font-family: "Quantico", sans-serif;
}