.list {
    list-style-type: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 85%;
    border-radius: 20px;
    border: 5px solid #4d9462;
    background-color: #b2bc8b;
    width: 90%;
    height: 100%;
    margin:auto;
    margin-top: 40px;
}

.sec-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;    
}

.task-list {
    height: 100%;
    width: 80%;
    flex-basis: 50%;
    max-height: 100%;
    
}