.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-basis: 50%;
    padding-top: 120px;
}

.submit {
    margin: 10px;
    border-radius: 15px;
    color: #d8dfb9;
    background-color: #303442;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    border: solid 3px #4d9462;
    
}


.submit:hover {
    background-color: #22242f;
}

.submit:active {
    border-width: 4px;
    padding: 9px 19px;
    box-shadow: 0px 0px 5px #000004;
}
