.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-basis: 50%;
    padding-top: 120px;
}

.submit {
    margin: 10px;
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    cursor: pointer;
}

.submit:hover {
    animation: submit-animation 1s forwards;
}

@keyframes submit-animation {
    0% {
        background-color: lightgrey;
    }
    100% {
        background-color: lightgreen;
    }
}