.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 90%;
}

.sec-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;    
}

.task-list {
    padding: 15px;
    height: 100%;
    flex-basis: 50%;
    max-height: 100%;
}