.task-text-descriptor {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-title {
    margin-bottom: 15px;
    font-size: 50px;
}

.input-text {
    background-color: lightgrey;
    padding: 16px 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    /* Borde por defecto */
    outline: none;
    width: 100%;
    font-family:  "Quantico", sans-serif;
}

.input-text:focus {
  border-color: green;
}

.input-text::placeholder {
    color: #777;
    opacity: 1;
}