.list {
    list-style-type: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 85%;
    border-radius: 20px;
    border: 5px solid #4d9462;
    background-color: #b2bc8b;
    width: 90%;
    height: 100%;
    margin:auto;
    margin-top: 40px;
}

.sec-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;    
}

.task-list {
    height: 100%;
    width: 80%;
    flex-basis: 50%;
    max-height: 100%;
    
}

.item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-button {
    padding: 5px 10px;
    margin: 6px 6px;
    border: #303442  solid 3px;
    background-color: #d8dfb9;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

.edit-button:hover {
    box-shadow: 2px 2px 3px #000004;
    transition: 0.5s;
    background-color: #ccd2ae;
}

.item-edit {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.item-input {
    background-color: #d8dfb9;
    padding: 5px;
    border: 3px solid #303442;
    border-radius: 6px;
    font-size: 18px;
    margin: 6px;
    width: 70%;
    font-family: "Jost", sans-serif;
    outline: none;
}

.item-input:focus {
    border-color: #303442;
    box-shadow:2px 2px 3px #000004;
    background-color: #ccd2ae;
}

.item-input::placeholder {
    color: #d8dfb9;
    opacity: 1;
}

.item-input:hover {
    background-color: #ccd2ae;
    transition: 0.5s;
    box-shadow: 2px 2px 3px #000004;
}

.item-select {
    padding: 5px;
    margin: 6px;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    border: #303442 solid 3px;
    background-color: #d8dfb9;
    border-radius: 6px;
}

.item-select:hover, .item-select:focus {
    background-color: #ccd2ae;
    transition: 0.5s;
    box-shadow: 2px 2px 3px #000004;
}