.task-resposible-select {
    padding: 40px;
}

.responsible-text {
    font-size: 30px;
}

.select {
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 3px #4d9462;
    background-color: #303442;
    color: #d8dfb9;
    font-family: "Jost", sans-serif;
}

.select:hover {
    background-color: #22242f;
}

.select:open {
    border-width: 4px;
    padding: 4px 9px;
    box-shadow: 0px 0px 5px #000004;
}