.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.task-list {
    padding: 15px;
}